<h2>Add a New Book</h2>
<form (ngSubmit)="createBook()">
  <div class="form-group">
    <label for="title">Title:</label>
    <input class="form-control" name="title" type="text" [(ngModel)]="book.title" placeholder="title" />
  </div>
  <div class="form-group">
    <label for="category">Category:</label>
    <input class="form-control" name="category" type="text" [(ngModel)]="book.category" placeholder="category" />
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input class="form-control" name="price" type="text" [(ngModel)]="book.price" placeholder="0.00" />
  </div>
  <div class="form-group">
    <label for="publishDate">Publish Date:</label>
    <input class="form-control" name="publishDate" type="date" value="{{book.publishDate | date: 'yyyy-MM-dd'}}"
      (change)="onPublishDateChange($event)" />
  </div>
  <div class="form-group">
    <label for="rating">Rating:</label>
    <input class="form-control" name="rating" type="text" [(ngModel)]="book.rating" placeholder="0.0" />
  </div>
  <button class="btn btn-primary">Create</button>
</form>
<button class="btn btn-link" routerLink="/">Back to List</button>